{
	"presets": [
		["env", {
			"targets": {
				"browsers": "> 1%, last 2 versions, Firefox ESR, not IE 10"
			},
			"modules": false,
			"useBuiltIns": true
		}],
		"stage-2"
	],
	"plugins": ["transform-runtime"]
}
