@import "bulma";

@import "components/live_stream_box";
@import "components/multiline_box";
@import "components/responsive_embed";

/* To make sure sticky footer can happen */
html, body {
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;

	& > .hero {
		flex-shrink: 0;
	}

	& > .app-content {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
		display: block;
	}
}
