.live-stream {
	&-box {
		@extend .box;
		color: $text !important;
		height: 100%;

		// hero forces whiiiite on titles
		.hero & .title {
			color: $title-color;
		}
	}
	&-title {
		@extend .title;
		font-size: $size-3;
	}
	&-link {
		display: block;
		font-size: 0.75rem;
		margin-top: 0.5em;
	}
}
