@import "~bulma/sass/utilities/functions";

////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables

// Colors
$black:        palette(Black, 500);
$black-bis:    palette(Grey, 900);
$black-ter:    palette(Grey, 800);

$grey-darker:  palette(Grey, 700);
$grey-dark:    palette(Grey, 600);
$grey:         palette(Grey, 500);
$grey-light:   palette(Grey, 400);
$grey-lighter: palette(Grey, 300);

$white-ter:    palette(Grey, 200);
$white-bis:    palette(Grey, 100);
$white:        palette(Grey, 50);

$orange:       palette(Orange, 500);
$yellow:       palette(Yellow, 500);
$green:        palette(Green, 500);
$turquoise:    palette(Cyan, 500);
$blue:         palette(Blue, 500);
$purple:       palette(Purple, 500);
$red:          palette(Red, 500);

// Typography
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

$size-1: 45px;
$size-2: 34px;
$size-3: 24px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

$weight-normal: 400;
$weight-bold: 700;
$weight-title-normal: 300;
$weight-title-bold: 500;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $blue;

$info: $turquoise;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;
