$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;

// Navbar
$navbar-item-color: $white;
$navbar-item-hover-color: $white-ter;
$navbar-background-color: $black;
$navbar-item-hover-background-color: rgba(255, 255, 255, 0.1);
$navbar-dropdown-arrow: $blue;
