.icon {
	.material-icons {
		font-size: inherit;
		line-height: inherit;
		font-size: 21px;
	}

	&.is-small {
		.material-icons {
			font-size: 14px;
		}
	}
	&.is-medium {
		.material-icons {
			font-size: 28px;
		}
	}
	&.is-large {
		.material-icons {
			font-size: 42px;
		}
	}
}
.table {
	th, td {
		&.is-icon {
			padding: $table-cell-padding;
			.material-icons {
				@include fa(24px, 24px);
			}
			&.is-link {
				padding: 0;
				& > a {
					display: block;
					padding: $table-cell-padding;

					.icon {
						display: block;
					}
				}
			}
		}
	}
}

